.formBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ecfcfc;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.button {
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.label {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: #2a363b;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  padding: 10px;
}

.input {
  width: 400px;
  font-size: 18px;
  margin-right: 0px;
  margin-left: auto;
}
