.container {
  margin-top: 50px;
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

.title {
  margin-top: 150px;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  color: #2a363b;
}

.title_text {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  color: #2a363b;
}
